.page-title {
  font-size: 30px;
  font-weight: 450;
  text-align: center;

  background: linear-gradient(
    90deg,
    #7a0000, #b30000, #ff4d4d
  );
  background-clip: text;
  color: transparent;

  letter-spacing: 1px;
  margin: 20px 0 35px;
}
