.logo {
color: white;
font-size: 20px;
font-weight: bold;
}
.non-member-navbar {
background-color: #333;
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links {
display: flex;
gap: 20px;
}


.nav-links a {
color: white;
text-decoration: none;
font-size: 16px;
}


.nav-links a:hover {
text-decoration: underline;
}


.logout {
color: white;
text-decoration: none;
}


.logout:hover {
text-decoration: underline;
}