.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.btn-outline {
  background: linear-gradient(
    90deg,
    #4f0bc5,
    rgb(236, 94, 117)
  );
  color: white;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  color: white;  
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #4f0bc5,
    rgb(236, 94, 117)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

