/* Book Card */
.book-card {
  background-color: #f5f5f5;
  border-radius: 0.9rem;
  box-shadow: 
    0 6px 18px -6px #6366f144,
    0 2px 6px -4px #0a0d9f22;
  transition: box-shadow 0.25s, transform 0.25s;
  width: 300px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.0rem 1.0rem;
}

.book-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 
    0 14px 24px -8px #6366f199,
    0 2px 12px -4px #0a0d9f33;
}

/* Image */
.book-card img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
}

/* Text Area */
.book-card .card-body {
  padding: 0.7rem 0.9rem 0.8rem;
  background: none;
}

.book-card h6 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

/* Author Name */
.book-card .small {
  font-size: 0.95rem;
  color: gray; 
}

