/* =========================
   Book Card
========================= */
.book-card {
  background-color: #f5f5f5;
  border-radius: 0.9rem;
  box-shadow: 
    0 6px 18px -6px #6366f144,
    0 2px 6px -4px #0a0d9f22;
  transition: box-shadow 0.25s, transform 0.25s;
  width: 300px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.book-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 
    0 14px 24px -8px #6366f199,
    0 2px 12px -4px #0a0d9f33;
}

/* =========================
   Book Image
========================= */
.book-card img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 0.9rem;
}

/* =========================
   Table Layout
========================= */
.card-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.7rem;
}

.card-table td {
  padding: 0;
}



.book-card h6 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.author {
  font-size: 0.95rem;
  color: gray;
}

.rating {
  display: flex;     
  align-items: center;
  gap: 4px;
}

.rating-value {
  padding: auto;
  padding-top: 11.25px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
}

#star {
  padding: auto;
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  margin-left: 2.5px;
}


/* Right column */
.like-cell {
  vertical-align: bottom;
  text-align: right;
}

/* Span controls size */
.heart-wrapper {
  width: 40px;
  height: 40px;
  display: inline-block;
}

/* Image adapts to span */
.heart-wrapper img {
  width: 100%;
  height: 100%;
  display: contain;
}









