apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: messaging-service-rs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: messaging-service
  template:
    metadata:
      labels:
        app: messaging-service
    spec:
      containers:
        - name: messaging-service
          image: messaging-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5050
