.vertical-scroll {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0.7rem 0.7rem;
    gap: 1.5rem;
}

/* 3 columns (tablets landscape / small laptops) */
@media (max-width: 992px) {
    .vertical-scroll {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        overflow-y: auto;
        scrollbar-width: none;
        padding: 0.7rem 0.7rem;
        gap: 1.5rem;
    }
}

/* 2 columns (tablets portrait / big phones) */
@media (max-width: 768px) {
    .vertical-scroll {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow-y: auto;
        scrollbar-width: none;
        padding: 0.7rem 0.7rem;
        gap: 1.5rem;
    }
}

/* 1 column (mobile) */
@media (max-width: 576px) {
    vertical-scroll {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        overflow-y: auto;
        scrollbar-width: none;
        padding: 0.7rem 0.7rem;
        gap: 1.5rem;
    }
}
