.book {
    height: 100%;
}

.book-image {
    height: 150px;
    border-radius: 10px;
    width: 150px;
}

.go-back {
    width: 100%;
}

.whitener{
    height: 100px;
    width: 100px;
    background-color: white;
}

.book-container {
    margin-top: 100px;
    height: 100%;
    width: 800px !important;
}