/*
 * Staff/add-books/add-books.css
 * ==========================================================================
 * Styles for the Add New Book Form.
 *
 * TABLE OF CONTENTS:
 * 1. Image Upload Container
 * 2. Hidden File Input
 * 3. Text & Layout Overlays
 * ==========================================================================
 */

/* ==========================================================================
   1. Image Upload Container
   ========================================================================== */

.div-input {
    width: 200px;
    height: 200px;
}

.add-image {
    transform: translateY(-15px);
    width: 200px;
    height: 200px;
}

/* ==========================================================================
   2. Hidden File Input
   ========================================================================== */

.input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* ==========================================================================
   3. Text & Layout Overlays
   ========================================================================== */

.img-txt {
    position: relative;
    transform: translateY(-45px);
    text-align: center;
    z-index: 10;
}