.input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.img-txt {
    position: relative;
    transform: translateY(-45px);
    text-align: center;
    z-index: 10;
}

.add-image {
    transform: translateY(-15px);
    width: 200px;
    height: 200px;
}

.div-input {
    width: 200px;
    height: 200px;
}   