.myaccount-title {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, rgba(99, 102, 241, 0.95), rgba(236, 72, 153, 0.95));
    border-radius: 1.5rem;
    color: white;
    margin-top:45px;
}