.profile {
    height: 100%;
}

.profile-image {
    height: 100px;
    border-radius: 50%;
    width: 100px;
}

.go-back {
    width: 100%;
}

.whitener{
    height: 100px;
    width: 100px;
    background-color: white;
}

.profile-container {
    margin-top: 100px;
    height: 500px;
    width: 500px !important;
}