.carousel-indicators {
  display: flex !important;
  justify-content: center;
  gap: 10px;
}

#view-all {
  background: linear-gradient(
    90deg,
    #4f0bc5,
    rgb(236, 94, 117)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(30%) sepia(80%) saturate(600%)
          hue-rotate(260deg);
}

/* Indicators */
.carousel-indicators [data-bs-target] {
  background-color: white
}

.carousel-indicators .active {
  background-color: white;
}

.carousel-item {
  height: 500px;
  background: rgba(255, 255, 255, 0.6);

}

.carousel-item img {
  height: 100%;
  object-fit: contain;
}

/* Navbar */
.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

/* Home-h1-headings below carousal */
.home-h1 {
  font-size: 25px;
  font-weight: 750;
  color: black;
}

/* Home-h2-headings below carousal */
.home-h2 {
  font-size: 25px;
  color: goldenrod;
  font-weight: 750;
}

/* Home-h1-headings below carousal */
.home-h3 {
  font-size: 20px;
  color: rgb(50, 50, 224);
  margin-left: 100px;
}

/* Scroll Wrapper */
.horizontal-scroll {
  display: flex;
  gap: 1.45rem;
  overflow-x: auto;
  padding: 0.7rem 0.7rem;
  scrollbar-width: none; 
}

/* Quote section */
.quote-section {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #2dd4bf, #25a18e);
  color: white;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 6px 20px #6366f122;
  font-style: italic;
  user-select: none;
  font-size: 1.25rem;
}
.quote-section h2 {
  font-weight: 800;
  margin-bottom: 1rem;
}


