/* Main Layout */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: white;
}

.side-image {
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 120px;      /* you can change this */
  height: auto;      /* keeps natural proportion */
  object-fit: contain;
}

/* LEFT SECTION */
.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  width: 75%;
  border-radius: 10px;
}

/* RIGHT SECTION */
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}

/* LOGIN BOX */
.login-box {
  width: 380px;
  background: #ffffff;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 8px;
  font-size: 26px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

/* INPUT GROUP WITH ICON */
.input-group {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 18px;
}

.input-group .icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.input-group input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #3f48cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #2f3bb8;
}
