.profile {
    height: 100%;
}

.whole-container {
    margin-top: 100px;
    height: 500px;
    width: 800px !important;
}

.button-out {
    width: 100%;
}

.text-inside {
    flex: 1;
}

.send-image {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.text-send {
    font-size: 30px;
}

.text-send-2{
    font-size: 20px;
    font-weight: 400;
}

.send-button {
    width: 300px;
}